In [1]:
import pandas as pd

## 1.introduction to dadaframe

In [6]:
# create dataframe : df
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])

print(df)

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [5]:
# dreate dataFrame :df whit column
df_column = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]],columns= ["a","b","c"])
df_column

    a   b   c
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [4]:
# dreate dataFrame :df whit column and index
df_column_index = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]],columns= ["a","b","c"],index=["year_1","year_2","year_3","year_4"])
df_column_index

         a   b   c
year_1   1   2   3
year_2   4   5   6
year_3   7   8   9
year_4  10  11  12

## 2.Data Loading

In [8]:
# read_exel()
import pandas as pd
df_from_excel = pd.read_excel("./datasets/data_sample.xlsx")
df_from_excel_sheet2 = pd.read_excel("./datasets/data_sample.xlsx",sheet_name="Sheet2")
df_from_excel_sheet2

      Coffee  Unit_sold
0       Late         15
1   Espresso         20
2  Capuchino         18
3  Americano         10

In [9]:
# read_csv()
df_from_csv = pd.read_csv("./datasets/Salary_Data.csv")
df_from_csv

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [10]:
#read_csv() from url
#read_csv(path)
Path = "https://raw.githubusercontent.com/MainakRepositor/Datasets/refs/heads/master/CoffeeAndCodeLT2018%20-%20CoffeeAndCodeLT2018.csv"
df_from_url = pd.read_csv(Path)

df_from_url

,CodingHours,CoffeeCupsPerDay,CoffeeTime,CodingWithoutCoffee,CoffeeType,CoffeeSolveBugs,Gender,Country,AgeRange
0,8,2,Before coding,Yes,Caffè latte,Sometimes,Female,Lebanon,18 to 29
1,3,2,Before coding,Yes,Americano,Yes,Female,Lebanon,30 to 39
2,5,3,While coding,No,Nescafe,Yes,Female,Lebanon,18 to 29
3,8,2,Before coding,No,Nescafe,Yes,Male,Lebanon,NaN
4,10,3,While coding,Sometimes,Turkish,No,Male,Lebanon,18 to 29
...,...,...,...,...,...,...,...,...,...
95,6,2,Before coding,Yes,Nescafe,Yes,Male,Lebanon,18 to 29
96,4,1,Before coding,Sometimes,Nescafe,Sometimes,Female,Lebanon,18 to 29
97,10,3,Before coding,Yes,Cappuccino,Yes,Male,Lebanon,Under 18
98,2,2,While coding,Sometimes,Espresso (Short Black),Sometimes,Female,Lebanon,18 to 29
99,10,4,Before coding,Sometimes,Double Espresso (Doppio),Sometimes,Male,Lebanon,18 to 29

# 3.accessing data with pandas (การเข้าถึงข้อมูล)

In [11]:
#ตรวจสอบ data frame ด้วย .info
df_from_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CodingHours          100 non-null    int64
 1   CoffeeCupsPerDay     100 non-null    int64
 2   CoffeeTime           100 non-null    object
 3   CodingWithoutCoffee  100 non-null    object
 4   CoffeeType           99 non-null     object
 5   CoffeeSolveBugs      100 non-null    object
 6   Gender               100 non-null    object
 7   Country              100 non-null    object
 8   AgeRange             98 non-null     object
dtypes: int64(2), object(7)
memory usage: 7.2+ KB

In [12]:
#เข้าถึงข้อมูล แบบคอลัมน์

#1.show column
df_from_url.columns

#2.เข้าถึงคอลัมน์ ['CodingHours', 'CoffeeCupsPerDay', 'CoffeeTime', 'CodingWithoutCoffee','CoffeeType', 'CoffeeSolveBugs', 'Gender', 'Country', 'AgeRange'
df_CodingHours = df_from_url["CodingHours"]
df_from_url["Country"]

#2.เข้าถึง column more 1 colu

df_from_url[["CodingHours","Country","CoffeeType"]]

    CodingHours  Country                CoffeeType
0             8  Lebanon               Caffè latte
1             3  Lebanon                 Americano
2             5  Lebanon                   Nescafe
3             8  Lebanon                   Nescafe
4            10  Lebanon                   Turkish
..          ...      ...                       ...
95            6  Lebanon                   Nescafe
96            4  Lebanon                   Nescafe
97           10  Lebanon                Cappuccino
98            2  Lebanon    Espresso (Short Black)
99           10  Lebanon  Double Espresso (Doppio)

[100 rows x 3 columns]

In [13]:
#เข้าถึงข้อมูล แบบคอลัมน์

#1.show column
df_from_url.columns

#2.เข้าถึงคอลัมน์ ['CodingHours', 'CoffeeCupsPerDay', 'CoffeeTime', 'CodingWithoutCoffee','CoffeeType', 'CoffeeSolveBugs', 'Gender', 'Country', 'AgeRange'
df_CodingHours = df_from_url["CodingHours"]
df_from_url["Country"]

#2.เข้าถึง column more 1 colu

df_from_url[["CodingHours","Country","CoffeeType","AgeRange"]]

    CodingHours  Country                CoffeeType  AgeRange
0             8  Lebanon               Caffè latte  18 to 29
1             3  Lebanon                 Americano  30 to 39
2             5  Lebanon                   Nescafe  18 to 29
3             8  Lebanon                   Nescafe       NaN
4            10  Lebanon                   Turkish  18 to 29
..          ...      ...                       ...       ...
95            6  Lebanon                   Nescafe  18 to 29
96            4  Lebanon                   Nescafe  18 to 29
97           10  Lebanon                Cappuccino  Under 18
98            2  Lebanon    Espresso (Short Black)  18 to 29
99           10  Lebanon  Double Espresso (Doppio)  18 to 29

[100 rows x 4 columns]

In [14]:
df_from_url.columns

#2.เข้าถึงคอลัมน์ ['CodingHours', 'CoffeeCupsPerDay', 'CoffeeTime', 'CodingWithoutCoffee','CoffeeType', 'CoffeeSolveBugs', 'Gender', 'Country', 'AgeRange'
df_CodingHours = df_from_url["CodingHours"]
df_from_url["Country"]

#2.เข้าถึง column more 1 colu

df_from_url[["CodingHours","Country","CoffeeType","AgeRange","CoffeeTime"]]

    CodingHours  Country                CoffeeType  AgeRange     CoffeeTime
0             8  Lebanon               Caffè latte  18 to 29  Before coding
1             3  Lebanon                 Americano  30 to 39  Before coding
2             5  Lebanon                   Nescafe  18 to 29   While coding
3             8  Lebanon                   Nescafe       NaN  Before coding
4            10  Lebanon                   Turkish  18 to 29   While coding
..          ...      ...                       ...       ...            ...
95            6  Lebanon                   Nescafe  18 to 29  Before coding
96            4  Lebanon                   Nescafe  18 to 29  Before coding
97           10  Lebanon                Cappuccino  Under 18  Before coding
98            2  Lebanon    Espresso (Short Black)  18 to 29   While coding
99           10  Lebanon  Double Espresso (Doppio)  18 to 29  Before coding

[100 rows x 5 columns]

In [15]:
# เข้าถึงข้อมูลแบบ row eith dataFrame.loc[row]
df_from_url.loc[[0,1,2,3,4,5,6,7,8,9]]
df_from_url.loc[50:]

,CodingHours,CoffeeCupsPerDay,CoffeeTime,CodingWithoutCoffee,CoffeeType,CoffeeSolveBugs,Gender,Country,AgeRange
50,6,1,Before coding,Yes,Nescafe,No,Male,Lebanon,30 to 39
51,8,3,While coding,Sometimes,American Coffee,Yes,Male,Lebanon,18 to 29
52,8,2,Before coding,Sometimes,American Coffee,Yes,Male,Lebanon,18 to 29
53,3,3,While coding,No,Turkish,No,Male,Lebanon,18 to 29
54,7,4,No specific time,Yes,Cappuccino,Sometimes,Male,Lebanon,18 to 29
55,4,7,Before and while coding,No,Double Espresso (Doppio),Sometimes,Male,Lebanon,18 to 29
56,6,4,While coding,Sometimes,Espresso (Short Black),Sometimes,Male,Lebanon,18 to 29
57,10,8,While coding,No,Turkish,Sometimes,Male,Lebanon,18 to 29
58,8,2,While coding,Sometimes,Turkish,No,Male,Lebanon,18 to 29
59,2,4,While coding,Sometimes,Cappuccino,Sometimes,Male,Lebanon,40 to 49
60,6,2,Before coding,Yes,Caffè latte,No,Male,Lebanon,18 to 29
61,7,4,While coding,No,American Coffee,Sometimes,Male,Lebanon,18 to 29
62,8,2,While coding,Sometimes,Turkish,Sometimes,Male,Lebanon,18 to 29
63,7,4,Before coding,No,Turkish,Yes,Male,Lebanon,18 to 29
64,8,4,While coding,No,American Coffee,Sometimes,Male,Lebanon,18 to 29
65,8,2,Before coding,Sometimes,American Coffee,Sometimes,Female,Lebanon,18 to 29
66,6,1,In the morning,Yes,Nescafe,No,Female,Lebanon,30 to 39
67,10,2,While coding,Sometimes,American Coffee,Yes,Male,Lebanon,18 to 29
68,8,4,Before and while coding,No,Turkish,Yes,Male,Lebanon,18 to 29
69,10,6,While coding,Sometimes,Double Espresso (Doppio),No,Male,Lebanon,30 to 39
70,6,4,While coding,Sometimes,Espresso (Short Black),Yes,Male,Lebanon,18 to 29
71,10,8,All the time,No,American Coffee,Yes,Male,Lebanon,18 to 29
72,5,5,While coding,Sometimes,American Coffee,Yes,Male,Lebanon,18 to 29
73,8,4,Before and while coding,Sometimes,Turkish,Sometimes,Male,Lebanon,30 to 39
74,4,2,While coding,No,Nescafe,Yes,Female,Lebanon,18 to 29
75,6,6,While coding,Sometimes,Cappuccino,No,Male,Lebanon,18 to 29
76,8,2,While coding,Sometimes,Nescafe,Sometimes,Male,Lebanon,30 to 39
77,9,3,While coding,Sometimes,Nescafe,Sometimes,Female,Lebanon,18 to 29
78,7,2,While coding,Sometimes,Caffè latte,No,Male,Lebanon,18 to 29
79,4,5,While coding,Sometimes,American Coffee,Yes,Male,Lebanon,18 to 29
80,2,1,While coding,Yes,Nescafe,No,Male,Lebanon,18 to 29
81,7,3,While coding,Sometimes,American Coffee,Sometimes,Female,Lebanon,18 to 29
82,6,3,While coding,Yes,Nescafe,Yes,Female,Lebanon,18 to 29
83,3,3,While coding,Sometimes,Caffè latte,Sometimes,Male,Lebanon,18 to 29
84,10,2,While coding,Yes,American Coffee,No,Male,Lebanon,18 to 29
85,10,3,While coding,Sometimes,American Coffee,Sometimes,Male,Lebanon,18 to 29
86,3,1,While coding,Sometimes,Nescafe,Sometimes,Male,Lebanon,18 to 29
87,3,3,While coding,Sometimes,American Coffee,Sometimes,Female,Lebanon,18 to 29
88,9,7,All the time,No,Espresso (Short Black),Yes,Male,Lebanon,18 to 29
89,10,1,Before coding,Sometimes,American Coffee,Sometimes,Male,Lebanon,18 to 29
90,7,1,Before coding,Sometimes,Cappuccino,Sometimes,Male,Lebanon,18 to 29
91,5,3,While coding,Sometimes,Turkish,Sometimes,Female,Lebanon,18 to 29
92,5,2,Before coding,Sometimes,Nescafe,Yes,Female,Lebanon,18 to 29
93,3,1,Before coding,Yes,Nescafe,No,Female,Lebanon,18 to 29
94,4,2,While coding,Yes,Nescafe,Sometimes,Male,Lebanon,18 to 29
95,6,2,Before coding,Yes,Nescafe,Yes,Male,Lebanon,18 to 29
96,4,1,Before coding,Sometimes,Nescafe,Sometimes,Female,Lebanon,18 to 29
97,10,3,Before coding,Yes,Cappuccino,Yes,Male,Lebanon,Under 18
98,2,2,While coding,Sometimes,Espresso (Short Black),Sometimes,Female,Lebanon,18 to 29
99,10,4,Before coding,Sometimes,Double Espresso (Doppio),Sometimes,Male,Lebanon,18 to 29

In [16]:
# เข้าถึงข้อมูลแบบ row eith dataFrame.loc[row, column]

coffee = df_from_url

# แถวที่0-20 และ คอลัมน์CoffeeType
coffee.loc[ :20,"CoffeeType"]

# แถวที่0-20 และ คอลัมน์CoffeeType Gender

0                Caffè latte
1                  Americano
2                    Nescafe
3                    Nescafe
4                    Turkish
5                    Nescafe
6                    Nescafe
7                    Turkish
8            American Coffee
9                    Nescafe
10           American Coffee
11                   Turkish
12                   Nescafe
13                   Nescafe
14                   Nescafe
15                 Americano
16           American Coffee
17                   Turkish
18                   Nescafe
19                   Nescafe
20    Espresso (Short Black)
Name: CoffeeType, dtype: object

In [17]:
coffee = df_from_url

# row0-20 column CoffeeType
coffee.loc[:20,"CoffeeType"]
coffee.loc[:20,["CoffeeType","Gender"]]

#แถวที่15-50 คอลัมน์ 3-6
coffee.loc[14:49, ["CoffeeTime",'CodingWithoutCoffee','CoffeeType', 'CoffeeSolveBugs']]

        CoffeeTime CodingWithoutCoffee              CoffeeType CoffeeSolveBugs
14   Before coding                 Yes                 Nescafe       Sometimes
15    While coding                  No               Americano             Yes
16    While coding           Sometimes         American Coffee       Sometimes
17    While coding                 Yes                 Turkish       Sometimes
18    While coding                  No                 Nescafe              No
19  In the morning                 Yes                 Nescafe       Sometimes
20    While coding                 Yes  Espresso (Short Black)       Sometimes
21    While coding           Sometimes                 Nescafe             Yes
22    While coding           Sometimes         American Coffee       Sometimes
23    While coding                  No                 Turkish              No
24    While coding           Sometimes              Cappuccino       Sometimes
25    While coding                 Yes                 Nescafe              No
26   Before coding           Sometimes  Espresso (Short Black)              No
27    While coding           Sometimes                 Turkish             Yes
28   Before coding                 Yes                 Nescafe             Yes
29    While coding           Sometimes         American Coffee       Sometimes
30    All the time                  No         American Coffee             Yes
31    While coding                  No                 Nescafe       Sometimes
32   Before coding           Sometimes                 Nescafe       Sometimes
33   Before coding                 Yes                 Nescafe              No
34    While coding           Sometimes  Espresso (Short Black)       Sometimes
35    While coding                 Yes         American Coffee              No
36    All the time           Sometimes                 Turkish       Sometimes
37    After coding                 Yes                 Turkish             Yes
38    While coding                 Yes              Cappuccino             Yes
39    While coding                 Yes                 Turkish              No
40    While coding           Sometimes                 Turkish              No
41    While coding           Sometimes                 Turkish             Yes
42    While coding           Sometimes         American Coffee       Sometimes
43    While coding           Sometimes                     NaN              No
44    After coding                 Yes  Espresso (Short Black)       Sometimes
45    While coding           Sometimes         American Coffee              No
46    While coding           Sometimes             Caffè latte              No
47  In the morning                 Yes                 Nescafe              No
48   Before coding                  No                 Nescafe              No
49   Before coding                 Yes                 Nescafe              No

## 4.Filtering data

In [24]:
#1.single condition / เงื่อนไขเดียว กรองคนทำงาน codingHours > 8hr
high_coffee = coffee[coffee["CodingHours"] > 8 ]#ตรวจสอบว่าผลลัพธ์ไหนมากกว่า8บ้าง ผลลัพธ์มีแค่ถูกกับผิด
high_coffee

,CodingHours,CoffeeCupsPerDay,CoffeeTime,CodingWithoutCoffee,CoffeeType,CoffeeSolveBugs,Gender,Country,AgeRange
4,10,3,While coding,Sometimes,Turkish,No,Male,Lebanon,18 to 29
7,10,4,Before coding,Sometimes,Turkish,Sometimes,Male,Lebanon,18 to 29
8,10,2,While coding,Yes,American Coffee,Sometimes,Male,Lebanon,30 to 39
9,10,2,While coding,Yes,Nescafe,No,Male,Lebanon,30 to 39
10,10,3,While coding,Sometimes,American Coffee,Sometimes,Male,Lebanon,30 to 39
13,9,3,While coding,Sometimes,Nescafe,Yes,Male,Lebanon,30 to 39
16,10,3,While coding,Sometimes,American Coffee,Sometimes,Male,Lebanon,30 to 39
21,9,5,While coding,Sometimes,Nescafe,Yes,Male,Lebanon,18 to 29
30,10,6,All the time,No,American Coffee,Yes,Male,Lebanon,30 to 39
32,9,2,Before coding,Sometimes,Nescafe,Sometimes,Female,Lebanon,18 to 29
43,10,6,While coding,Sometimes,NaN,No,Male,Lebanon,18 to 29
47,9,1,In the morning,Yes,Nescafe,No,Female,Lebanon,18 to 29
57,10,8,While coding,No,Turkish,Sometimes,Male,Lebanon,18 to 29
67,10,2,While coding,Sometimes,American Coffee,Yes,Male,Lebanon,18 to 29
69,10,6,While coding,Sometimes,Double Espresso (Doppio),No,Male,Lebanon,30 to 39
71,10,8,All the time,No,American Coffee,Yes,Male,Lebanon,18 to 29
77,9,3,While coding,Sometimes,Nescafe,Sometimes,Female,Lebanon,18 to 29
84,10,2,While coding,Yes,American Coffee,No,Male,Lebanon,18 to 29
85,10,3,While coding,Sometimes,American Coffee,Sometimes,Male,Lebanon,18 to 29
88,9,7,All the time,No,Espresso (Short Black),Yes,Male,Lebanon,18 to 29
89,10,1,Before coding,Sometimes,American Coffee,Sometimes,Male,Lebanon,18 to 29
97,10,3,Before coding,Yes,Cappuccino,Yes,Male,Lebanon,Under 18
99,10,4,Before coding,Sometimes,Double Espresso (Doppio),Sometimes,Male,Lebanon,18 to 29

In [63]:
#นำ data sampleเข้า เข้า dataframe


data_sample = pd.read_excel("./datasets/data_sample.xlsx")
data_sample

#กรองคนที่อายุมากกว่า 10

data_year_more_than_10 = data_sample["Age"] > 10
data_year_more_than_10

#dataframe

data_year_more_than_10 = data_sample[data_sample["Age"] > 10]
data_year_more_than_10


#สร้างคอลัมน์ชื่อว่า เพศ

data_sample["Sex"] = ['Female','Male','Male','Male','Male','Male']
data_sample

#เพิ่มน้ำหนัก weight
data_sample["Weight"] = [30,40,50,50,50,50]
data_sample

#กรองคนที่มีน้ำหนักมากกว่า 40
data_Weight_more_than_40 = data_sample["Weight"] >40
data_Weight_more_than_40

#สร้างdata frame ชื่อว่า data_sample_weight_more_than_40
data_Weight_more_than_40 = data_sample[data_sample["Weight"] > 40]
data_Weight_more_than_40

#กรองคนที่มีน้ำหนักมากกว่า40 และอายุมากกว่า 10 () & ()

(data_sample["Weight"] >40) & (data_sample["Age"] > 10)

#dataframeคนที่มีน้ำหนักมากกว่า40 และอายุมากกว่า 10 () & ()
data_sample_more_Weight_40_and_Age_more_10 = data_sample[(data_sample["Weight"] >40) & (data_sample["Age"] > 10)]
data_sample_more_Weight_40_and_Age_more_10


#กรอง เพศชายอย่างเดียว
data_sample["Sex"]=="Male"
data_sample["Sex"]!="Male"


#สร้าง dataframe ชื่อว่า data_sample_Female
data_sample_Female = data_sample[data_sample["Sex"]!="Male"]
data_sample_Female

#dataframe income <= 30000 and & weight >=30 or | Male
# data_sample_more_Income_30000_and_Weihht_30_Sex_Male = data_sample[(data_sample["Income"] >=30000)]

data_sample_more_Income = data_sample[(data_sample["Income"] <=30000)]
data_sample_more_Income

data_sample_more_Weight = data_sample[(data_sample["Weight"] >=30)]
data_sample_more_Weight

data_sample_Sex = data_sample[(data_sample["Sex"] == "Male")]
data_sample_Sex


data_sample_more_Income_data_sample_more_Weight_data_sample_Sex = data_sample[(data_sample["Income"] <=30000) & (data_sample["Weight"] >=30) & (data_sample["Sex"] == "Male")]
data_sample_more_Income_data_sample_more_Weight_data_sample_Sex

   Number Firatname Lastname  Age  Income   Sex  Weight
1       2       Bob    Baley   40   17500  Male      40
2       3   Charlie    Angle   30   13000  Male      50
3       4      John     Wick   50   20000  Male      50